<?xml version="1.0"?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy ="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
<connectionStrings>
  <add name="conn" connectionString="Data Source = localhost;Initial Catalog = practice;User ID = sa; Password = Ecpac1234" providerName="System.Data.SqlClient"/>
</connectionStrings>
</configuration>
